/* INCLUDING GLOBAL RESETS FOR BROWSERS JUST IN CASE WE EVER HAD A DISPLAY ISSUE */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*rob is the best */
.container {
  background-color: #757373;
  font-family: "Open Sans", sans-serif;
  position: relative;

  width: 100%;
}

.nav_wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}

.mobile-logo {
  display: none;
}
nav {
  text-decoration: none;
  padding: 15px 15px 15px 0;
}

a {
  color: #2e2e2e;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.2rem;
}

a:hover {
  color: #b5161c;
}

.buffer-link {
  font-weight: 900;
  color: #b5161c;
}
.buffer-link:hover {
  color: #b5161c;
  text-decoration: underline;
}

.bigbullets {
  font-size: 1.85em;
  position: relative;
  top: 5px;
}

.logo {
  width: 100%;
  margin: 0 auto;
}

.logo-box {
  position: relative;
  margin: -50px auto 0 auto;
  padding: 25px;
  width: 266px;

  background-color: #ffffff;

  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
}

.hero-banner {
  margin: -55px 0 0 0;
  height: 335px;
  background: url("./src/hero-background-interior.jpg") repeat;
  width: 100%;
  background-size: 1325px;
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 150px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 150px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 150px 0px rgba(0, 0, 0, 1);
}
.hero-wrap {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-top: 2%;
}
.hero-img {
  margin-top: 2%;
}
.hero-txt {
  margin: 0 auto;
  margin-top: -300px;
}
.button-gallery {
  display: flex;
  height: 335px;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.anchor-button {
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px;
}
.anchor-button:hover {
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: underline wavy firebrick;
}
.back-to-top {
  padding-bottom: 1%;
  color: rgb(165, 165, 165);
}
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
} */
.back-to-top {
  color: firebrick;
  font-size: 0.75rem;
  text-decoration: underline;
}
/* 
.sticky p {
  font-size: 0.75rem;
}
.sticky .anchor-button {
  padding: 0px;
} */

.wood-grain {
  height: 203px;
  background: url("./src/wood_grain-72.jpg");
  background-repeat: repeat;
  width: 100%;
  -webkit-box-shadow: 0px 0px 75px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 75px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 75px 15px rgba(0, 0, 0, 0.75);
}

.black-wood {
  background: url("./src/background-wood-ramen-tatsu-las-vegas-restaurant.jpg")
    repeat;

  background-size: contain;
}

.menu-item-img {
  width: 33%;
}

.lower-header {
  padding-top: 30px;
  margin-left: 15%;
  width: 375px;
  text-align: center;
}

.lower-header h1 {
  color: rgb(53, 53, 53);
  background-color: white;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  padding: 10px 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  flex-wrap: wrap;
}

.menu-card {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 18%;
}

.second-row {
  width: 15%;
}
.menu-item-img-wrap {
  width: 100%;
  padding-bottom: 1%;
}
.menu-item-img {
  width: 100%;
}

.menu-card-txt {
  width: 100%;
  color: white;
}
.top-txt {
  border-bottom: 1px solid white;
  width: 90%;
}

.top-txt h3 {
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.bottom-txt {
  line-height: 1.1rem;
}
.bottom-txt h4 {
  color: rgb(255, 209, 169);
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}
.bottom-txt .color-txt {
  color: rgb(255, 209, 169);
  margin-bottom: 0.6rem;
}
.starters-imageless {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
}

.starters-imageless .menu-card {
  width: 50%;
}

.spice-level-addons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 5% 2.5% 5%;
}

.spice-level-card {
  width: 50%;
}
.add-on-card {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.add-on-top {
  text-align: center;
  padding-bottom: 20px;
}
.white-box {
  background-color: #ffffff;
  display: flex;
}
.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2% 0;
  padding-left: 5%;
  line-height: 1.5;
}

.add-on-row-wrap {
  display: flex;

  width: 100%;
  justify-content: space-between;
}

.col-name {
  width: 100%;
}
.col-price {
  width: 25%;
  padding-left: 1%;
}

.col-name h3 {
  font-weight: bolder;
  font-size: 1.1rem;
}
.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2% 0;
  padding-left: 5%;
  line-height: 1.5;
}

.add-on-top h2 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.add-on-bottom {
  display: flex;
  border: 3px solid #ffffff;
  background: rgba(0, 0, 0, 0.3);
  border-top: none;
  color: white;
}

.lower-header-flex-left {
  padding-top: 2%;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.lower-header-flex-right {
  padding-bottom: 5%;
  display: flex;
  width: 90%;
  padding-left: 5%;
  flex-direction: column;
}

.beverages-card-left {
  padding-top: 2%;
}
.beverages-card-right {
  padding-top: 2%;
}

.beverages {
  display: flex;
  border: 3px solid #ffffff;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: white;
}

.details {
  font-weight: 500;
}

.menu-cta-container {
  margin-top: 5%;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cta-img-wrap {
  width: 48%;
  margin-left: auto;
}
.cta-img-wrap img {
  width: 100%;
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 48%;
}

.see-menu-button {
  width: 450px;
  height: 125px;
  font-weight: 800;
  font-size: 2rem;
  background-color: #b5161c;
  border: none;
  color: white;
  justify-content: center;
  background-image: linear-gradient(#b5161c, #292626);
  font-family: "Open Sans", sans-serif;
}

.see-menu-button:hover {
  background-color: #23a702;
  background-image: linear-gradient(#23a702, #292626);
}

.map-container {
  padding-bottom: 2%;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
}

.address-wrapper {
  width: 50%;
  line-height: 3rem;

  margin-left: 5%;
}

.address-wrapper h3 {
  padding-top: 20%;
  font-size: 3rem;
  font-weight: bold;
}

.address-wrapper p {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 1%;
}

address {
  font-size: 2rem;
  font-weight: bold;
}

.google-map {
  padding: 5% 0;
  width: 50%;
  margin-right: 5%;
}

.footer-background-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-right: 5%;
}

.footer-background-container h3 {
  color: rgb(65, 64, 64);
  font-weight: bold;
  font-size: 2rem;
}

.share-wrap {
  width: 110px;
  padding-right: 10px;
  padding-top: 5px;
}
.share-wrap img {
  padding-top: 5%;
  width: 100%;
}

.icon-wrap {
  padding-right: 20px;
  padding-top: 5px;
}

.icon-wrap img {
  width: 30px;
  padding: 2%;
  margin-top: 5%;
}
.decorative-footer {
  background: url("./src/background-wood-ramen-tatsu-las-vegas-restaurant.jpg");
  width: 100%;
  text-align: center;
  color: #757373;
}

.decorative-footer p {
  padding: 5px;
  font-size: 10px;
  color: #757373;
}
.rice-bowls-imageless {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.rice-bowls-imageless .menu-card {
  width: 50%;
}

/* 
...
// all rules outside of @media queries apply to devices 1201px and above
... */

@media (max-width: 1452px) {
  .logo-box {
    position: relative;
    margin: -50px 0 0 0px;
    padding: 25px;

    background-color: #ffffff;

    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 1200px) {
  .hero-banner {
    height: 280px;
  }

  .menu-card {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 22%;
  }
  .last {
    display: none;
  }
  .hero-img {
    margin-top: 3%;
    width: 60%;
  }

  .see-menu-button {
    width: 375px;
    height: 104px;
  }

  .address-wrapper h3 {
    padding-top: 10%;
    font-size: 2.8rem;
    font-weight: bold;
  }

  .address-wrapper p {
    font-size: 1.4rem;
    font-weight: bold;
  }

  address {
    font-size: 2rem;
    font-weight: bold;
  }

  .rice-bowls-imageless {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .rice-bowls-imageless .menu-card {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .hero-banner {
    height: 260px;
  }
  .hero-img {
    margin-top: 5%;
    width: 58%;
  }
  .menu-card {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 28%;
  }
  .second-last {
    display: none;
  }

  .see-menu-button {
    width: 325px;
    height: 91px;
  }
  .starters-imageless {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .nav_wrap {
    text-align: center;
  }
  .nav-bar {
    width: 100%;
    height: 30px;
    background-color: white;
  }

  .nav-bar a {
    padding: 0 5px;
  }

  .logo-box {
    display: none;
    /* position: relative;
    margin: -65px 0 0 0;
    padding: 10px;
    width: 40%;
    height: 100px;

    background-color: #ffffff;

    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35); */
  }
  .mobile-logo {
    visibility: visible;
    width: 5%;
  }

  .hero-banner {
    height: 200px;
  }
  .hero-img {
    margin-top: 5%;
    width: 60%;
  }

  .lower-header {
    padding-top: 30px;

    margin-left: auto;
    margin-right: auto;
  }
  .menu-card {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 35%;
  }

  .third-last {
    display: none;
  }

  .see-menu-button {
    width: 275px;
    height: 77px;
    font-size: 1.8rem;
  }

  .map-container {
    flex-flow: column;
  }

  .address-wrapper {
    width: 80%;
    line-height: 2.5rem;
    margin-right: auto;
    margin-left: auto;
  }
  .address-wrapper h3 {
    padding-top: 8%;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .address-wrapper p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  address {
    font-size: 2rem;
    font-weight: bold;
  }

  .google-map {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .spice-level-addons {
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    padding: 5% 5% 2.5% 5%;
  }

  .add-on-card {
    width: 90%;
  }

  .spice-level-card {
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
  }
  .starters-imageless {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .col-name {
    width: 80%;
  }

  .col-name h3 {
    font-weight: bolder;
    font-size: 0.9rem;
  }

  .rice-bowls-imageless {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .rice-bowls-imageless p {
    padding-right: 3%;
  }
}

@media (max-width: 650px) {
  .hero-img {
    margin-top: 10%;
    width: 80%;
  }
  .hero-banner {
    height: 230px;
  }
  .sticky {
    height: 100%;
  }

  .button-gallery {
    padding-top: 100px;
    display: flex;
    height: 335px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .anchor-button {
    width: 100%;
    padding: 0;
  }

  .anchor-button h2 {
    font-size: 0.5rem;
  }
  .lower-header {
    padding-top: 30px;
  }

  .menu-card {
    margin-top: 5%;
    padding: 10px 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .menu-card-img-wrap {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .menu-card-txt {
    margin-left: 5%;
    margin-right: 5%;
  }

  .menu-card-txt p {
    padding-right: 10px;
  }

  .menu-cta-container {
    flex-direction: column;
  }

  .cta-img-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .button-wrap {
    width: 100%;
  }

  .see-menu-button {
    width: 100%;
  }

  .beverages {
    width: 100%;
  }
  .col-name {
    width: 40%;
  }
  .col-price {
    padding-left: 10%;
  }

  .col-name h3 {
    font-weight: bolder;
    font-size: 0.8rem;
    padding-right: 1%;
  }

  .col-name p {
    font-size: 0.8rem;
  }

  .details {
    font-size: 0.8rem;
  }

  .col-price p {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .nav_wrap {
    text-align: center;
  }
  .nav-bar {
    width: 100%;
    height: 25px;
    background-color: white;
  }
  .logo-box {
    display: none;
    /* position: relative;
    margin: -65px 0 0 0;
    padding: 10px;
    width: 40%;
    height: 100px;

    background-color: #ffffff;

    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35); */
  }

  .hero-img {
    margin-top: 15%;
    width: 90%;
  }
  .hero-banner {
    height: 250px;
  }
  .lower-header {
    padding-top: 30px;

    width: 100%;
  }

  .menu-card {
    margin-top: 5%;
    padding: 10px 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .menu-card-img-wrap {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .menu-card-txt {
    margin-left: 5%;
    margin-right: 5%;
  }

  .menu-card-txt p {
    padding-right: 20px;
  }

  .menu-cta-container {
    flex-direction: column;
  }

  .cta-img-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .button-wrap {
    width: 100%;
  }

  .see-menu-button {
    width: 100%;
  }

  .address-wrapper {
    width: 80%;
    line-height: 2rem;
    margin-right: auto;
    margin-left: auto;
  }
  .address-wrapper h3 {
    padding-top: 8%;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .address-wrapper p {
    font-size: 1rem;
    font-weight: bold;
  }

  address {
    font-size: 2rem;
    font-weight: bold;
  }

  .google-map {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .spice-level-card .menu-card-img-wrap {
    width: 100%;
  }
  .lower-header-flex-left {
    margin: 0 0;
    width: 100%;
  }

  .lower-header-flex-right {
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-top: 0;
  }

  .add-on-card {
    width: 100%;
  }
  .add-on-top {
    width: 90%;
  }

  .white-box {
    width: 100%;
  }
  .beverages {
    box-sizing: border-box;
  }

  .beverages-card-right {
    width: 100%;
    padding-top: 0;
  }

  .beverages-card-left {
    width: 100%;
    padding-top: 0;
  }

  .col-price {
    padding: 0%;
  }
}
